.main {
    & > * {
        color: var(--color-dark);
        text-align: center;
        display: flex;
  }
  // defaults
  h3{
    font-weight: 500;
    font-size: 2.3rem;
  }

  h4 {
    color: var(--color-animation-5);
    font-size: 2rem;
    font-weight: 300;
  }

  .btn {
    width: 30%;
    padding: 2%;
    background-color: var(--color-gray-light);
    border: 2px solid var(--color-dark);
    border-radius: 5px;
    color: var(--color-dark);
    font-family: 'Press Start 2P', monospace;
    font-size: 1rem;
    cursor: pointer;

    &:hover{
      background-color: var(--color-animation-4-light);
      transform: translateY(0.1rem);
    }

    @media only screen and (max-width: $large-screen){
      font-size: 0.7rem;
    }
    @media only screen and (max-width: $small-screen){
      font-size: .8rem;
   }


    &--choose {  
      margin: 0 auto;
      font-size: 2rem;
      width: 70%;
      color: var(--color-animation-5);
      border-color: var(--color-animation-5);
      background-color: var(--color-animation-1-light);

      &:hover{
        background-color: var(--color-animation-1);
        color: var(--color-primary);
        border-color: var(--color-primary);
      }
    }

    &--reset{
      margin: auto;
      width: 12%;
      font-size: 1rem;
      padding: 1%;
      background-color: var(--color-reset);
      &:hover{
        background-color: var(--color-reset-dark);
      }
    }
  }
}

.header{
    .text-shadows{
        text-shadow: 3px 3px 0 var(--color-animation-2), 6px 6px 0 var(--color-animation-3),
          9px 9px var(--color-animation-4), 12px 12px 0 var(--color-quinary);
        font-family: 'Press Start 2P', monospace;
        font-weight: 400;
        text-transform: uppercase;
        font-size: calc(3rem + 5vw);
        text-align: center;
        margin: 0;
        color: var(--color-animation-1);
        animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
        letter-spacing: 0.4rem;
        
        @media only screen and (max-width: $small-screen){
            font-size: calc(1rem + 5vw);
        }
      }
      
      @keyframes shadows {
        0% {
          text-shadow: none;
        }
        10% {
          text-shadow: 3px 3px 0 var(--color-animation-2);
        }
        20% {
          text-shadow: 3px 3px 0 var(--color-animation-2),
            6px 6px 0 var(--color-animation-3);
        }
        30% {
          text-shadow: 3px 3px 0 var(--color-animation-2),
            6px 6px 0 var(--color-animation-3), 9px 9px var(--color-animation-4);
        }
        40% {
          text-shadow: 3px 3px 0 var(--color-animation-2),
            6px 6px 0 var(--color-animation-3), 9px 9px var(--color-animation-4),
            12px 12px 0 var(--color-animation-5);
        }
        50% {
          text-shadow: 3px 3px 0 var(--color-animation-2),
            6px 6px 0 var(--color-animation-3), 9px 9px var(--color-animation-4),
            12px 12px 0 var(--color-animation-5);
        }
        60% {
          text-shadow: 3px 3px 0 var(--color-animation-2),
            6px 6px 0 var(--color-animation-3), 9px 9px var(--color-animation-4),
            12px 12px 0 var(--color-animation-5);
        }
        70% {
          text-shadow: 3px 3px 0 var(--color-animation-2),
            6px 6px 0 var(--color-animation-3), 9px 9px var(--color-animation-4);
        }
        80% {
          text-shadow: 3px 3px 0 var(--color-animation-2),
            6px 6px 0 var(--color-animation-3);
        }
        90% {
          text-shadow: 3px 3px 0 var(--color-animation-2);
        }
        100% {
          text-shadow: none;
        }
      }
      
      @keyframes move {
        0% {
          transform: translate(0px, 0px);
        }
        40% {
          transform: translate(-12px, -12px);
        }
        50% {
          transform: translate(-12px, -12px);
        }
        60% {
          transform: translate(-12px, -12px);
        }
        100% {
          transform: translate(0px, 0px);
        }
      }
}

.menu {
    justify-content: center;
    & > * {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        margin-right: .5rem;
        cursor: pointer;
        color: var(--color-primary);
        &-inactive {
            color: var(--color-animation-5);
        }

        &-active {
            color: var(--color-dark);
            background-color: var(--color-animation-1-light);
            border-radius: 10px;
        }
        
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-animation-2);
    }
}

.content {
    border-top: 2px solid var(--color-dark);
    
    & > * {
        display: flex; 
    }
    
    &__container{
        width: inherit;
        margin: 0 auto;
        border-bottom: 2px solid var(--color-dark);
        background-color: #fff;

        @media only screen and (max-width: $large-screen){
          justify-content: space-between;
          & > * {
            min-height: 30vh;
          }
        }
        @media only screen and (max-width: $small-screen){
          flex-direction: column;
        }

        & > * {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            flex: 0 0 50%;
            justify-content: space-between;
        }

        h4{
            letter-spacing: 0.5rem;
        }

        &-right{
            #choice-box {
                display: flex;
                flex-direction: column;
                margin: 2rem 0;
            }

            @media only screen and (max-width: $large-screen){
              border-left: 2px solid var(--color-dark);
            }
            @media only screen and (max-width: $small-screen){
              border-left: none;
              border-top: 2px solid var(--color-animation-1);
            }
        }
        &-right-inactive{
          background-color: var(--color-gray-light);
        }

       

        .input-button {
            display: flex;
            justify-content: center;
            gap: .5rem;

            @media only screen and (max-width: $large-screen){
             margin: 0 auto;
             align-items: center;

             input {
              padding: 1%;
              flex: 0 0 40%;
             }
          }

          @media only screen and (max-width: $small-screen){
            margin: 0 2rem;
         }
         

          input{
            border-radius: 5px;

            &:focus{
              background-color: #fff;
              outline: none;
              border: 1px solid var(--color-primary);
              border-radius: 5px;
            }
          }
        }

        .input-button-hidden {
            display: none;
        }
    }

    &-hidden{
        display: none;
    }

    &__picks-item {
        font-size: 2rem;
        color: var(--color-dark);
    }   

    &__result{
        h1{
            margin: auto;
            font-size: 5rem;
        }
    }
}

.footer {
  align-self: flex-end;
}

